*{ 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #1d1d1d;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main{
    direction: ltr;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-table{
    width: 50%;
    margin-top: 125px;
    margin-bottom: 125px;
}

.task-table-header{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #4e6ac2;
    padding-top: 8px;
    padding-bottom: 8px;
}

.task-table-header h1{
    display: inline;
}

button{
    border: none;
    font-size: 20px;
    box-shadow: 0px 3px 5px rgba(168, 168, 168, 0.38);
    cursor: pointer;
}

button.circular {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.task-table-header button{
    float: right;
    background-color: white;
    margin-right: 10px;
}

.task-table-body{
    background-color: white;
    padding: 20px;
}

.task{
    display: flex;
    background-color: #ececec;
    padding: 10px;
    border:solid #4e6ac2 1px;
    transition: box-shadow 0.5s;
}
.task:hover{
    box-shadow: 0px 3px 15px #1d1d1d;
}
.task-info{
    width: 70%;
}

.task-actions{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.task-actions button{
    color: white;
}

.button-delete{
    background-color: #e45555;
}
.button-check{
    background-color: #6fda5e;
}
.button-uncheck{
    background-color: #b71c1c;
}
.button-edit{
    background-color: #55e4ca;
}


/* modal styles*/

.modal-container {
background-color: rgba(0, 0, 0, 0.6);
display: none;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.modal {
background: #fff;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
position: absolute;
overflow: hidden;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
max-width: 100%;
width: 400px;
}

.modal-content {
padding: 20px;
}

.modal-form div {
margin-top: 30px;
}

.modal-form label {
display: block;
margin-bottom: 6px;
}

.modal-form .form-input {
padding: 8px;
width: 100%;
}

.close-btn {
background: transparent;
border:solid #1d1d1d 1px;
font-size: 25px;
position: absolute;
top: 5px;
right: 12px;
cursor: pointer;
margin-top: 10px;
box-shadow: 0px 3px 5px rgba(168, 168, 168, 0.38);;
}

.modal-container .submit-btn {
padding: 10px 30px;
font-weight: bold;
background: #1d1d1d;
border: none;
color: #fff;
cursor: pointer;
margin-top: 30px;
}

/* JavaScript */
.modal-container.show-modal {
display: block;
}

.error{
	color:red;
	width:100%;
	margin-top:10px;
	padding-left:105px;
}